*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#grid-containers
{
    width:100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(7,200px);

}
.grid-items
{
    background-color: purple;
    border: 2px solid #eee;
    color: white;
    font-size: 22px;


}
.item1
{
    grid-column-start:1;
    grid-column-end:3;
}
/* .item7
{
    grid-column-start: 2;
    grid-column-end: 4;
} */
.item3
{
    grid-row: 2/4;
}
.item5
{
    grid-row: 2/4;
    grid-column: 3/4;
}
.item6
{
    grid-row: 3/5;
    grid-column: 2/3;
}
.item9
{
    grid-column: 1/3;

}
.item8
{
    grid-row: 4/6;
    grid-column:3/4;
}
.item9{
    grid-column: 1/3;
}